#map2 {
  background-image: url('siann2.jpg');
  transition: background-image 0.3s ease;
}

#map2.selected {
  background-image: url('siann3.jpg');
  color: white;
}

#map2:hover {
  background-image: url('siann3.jpg');
}

#map3 {
  background-image: url('to-pu2.jpg');
  transition: background-image 0.3s ease;
}

#map3.selected {
  background-image: url('to-pu3.jpg');
  color: white;
}

#map3:hover {
  background-image: url('to-pu3.jpg');
}

#map4 {
  background-image: url('unohana2.jpg');
  transition: background-image 0.3s ease;
}

#map4.selected {
  background-image: url('unohana3.jpg');
  color: white;
}

#map4:hover {
  background-image: url('unohana3.jpg');
}

#map5 {
  background-image: url('rapisu2.jpg');
  transition: background-image 0.3s ease;
}

#map5.selected {
  background-image: url('rapisu3.jpg');
  color: white;
}

#map5:hover {
  background-image: url('rapisu3.jpg')
}

#map6 {
  background-image:none
  transition: background-color 0.3s ease;
}

#map6.selected {
  background-color: #4CAF50;
  color: white;
}

#map6:hover {
  background-color: #4CAF50;
}
