body {
  background-color: #f4f4f4;

}

main {
  text-align: center;
}

.map-contents {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.map {
  cursor: pointer;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 8px;
  background-size: cover;
  transition: background-color 0.3s ease;
}

.map p {
  text-align: center;
  margin: 0; /* 余白を除去 */
}


#ep {
  margin-right: 10px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button.multiplier {
  background-color: grey;
  color: white;
  padding: 10px;
  cursor: pointer;
}

button.multiplier:hover {
  background-color: #333;
}

button:hover {
  background-color: #2980b9; 
}

#score,
#hour {
  margin-top: 20px;
  font-weight: bold;
}

#map1 {
  background-image: url('wakakusa2.jpg');
  transition: background-image 0.3s ease;
}

#map1.selected {
  background-image: url('wakakusa3.jpg');
  color: white;
}

#map1:hover {
  background-image: url('wakakusa3.jpg');
}

#map2 {
  background-image: url('cyan2.jpg');
  transition: background-image 0.3s ease;
}

#map2.selected {
  background-image: url('cyan3.jpg');
  color: white;
}

#map2:hover {
  background-image: url('cyan3.jpg');
}

#map3 {
  background-image: url('to-pu2.jpg');
  transition: background-image 0.3s ease;
}

#map3.selected {
  background-image: url('to-pu3.jpg');
  color: white;
}

#map3:hover {
  background-image: url('to-pu3.jpg');
}

#map4 {
  background-image: url('unohana2.jpg');
  transition: background-image 0.3s ease;
}

#map4.selected {
  background-image: url('unohana3.jpg');
  color: white;
}

#map4:hover {
  background-image: url('unohana3.jpg');
}

#map5 {
  background-image: url('rapisu2.jpg');
  transition: background-image 0.3s ease;
}

#map5.selected {
  background-image: url('rapisu3.jpg');
  color: white;
}

#map5:hover {
  background-image: url('rapisu3.jpg')
}

#map6 {
  background-image:none
  transition: background-color 0.3s ease;
}

#map6.selected {
  background-color: #4CAF50;
  color: white;
}

#map6:hover {
  background-color: #4CAF50;
}
